/**************************************************************/
/******************    Custom Stylesheet    *******************/
/*******************   by Corey Sizemore   ********************/
/*******************     version 1.0       ********************/
/**************************************************************/


header.home_default_image {
	background: url('../img/home.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.parallax.parallax_default_image {
	background: url('../img/parallax.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

header.page_default_image {
	background: url('../img/header1.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

header.page_default_image.beers,
header.page_default_image.contact {
	background: url('../img/header2.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

header.page_default_image.volunteer {
	background: url('../img/header3.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

#nav_bar {
	height: 100px;
	
	#logo_main {
		
		img {
			height: 80px;
		}
	}
	
	ul {
		
		li {
			
			a:link,a:visited {
				padding: 44px 0;
			}
		}
		
/*
		li.menu-item-has-children {
			& > a:link, 
			& > a:visited {
				background: url('../img/light_arrow_down.png') no-repeat;
				background-position: right center;
				background-size: 18px 18px;
			}
		}
*/
	}
}

/*
#nav_bar.scroll-fix {
	ul {
		li.menu-item-has-children {
			& > a:link,
			& > a:visited {
				background: url('../img/light_arrow_down.png') no-repeat;
				background-position: right center;
				background-size: 18px 18px;
			}
		}
	}
}
*/

.breadcrumb_wrapper {
	
	span.breadcrumbs {
		
		a:link,a:visited {
			color: #ffffff !important;
		}
	}
}

.sponsors {
	text-align: center;
	
	h2 {
		text-align: center;
		margin-bottom: 40px;
	}
	a:link,
	a:visited {
		display: inline-block;
		vertical-align: middle;
		
		img {
			display: block;
		}
	}
	
	img {
		width: 250px;
		height: auto;
		margin: 0px 20px 20px 20px;
		vertical-align: middle;
	}
}

.sidebar {
	background: #fee991;
	padding: 0px !important;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	
	.office_information_wrapper {
		padding: 20px;
		
		ul.office_hours {
			
			li {
				
				span,p {
					color: #222222;
				}
			}
		}
		
		p, h3 {
			color: #222222;
		}
		
		ul.contact_info {
			
			li {
				color: #222222;

				a:link,a:visited {
					color: #222222;
					
					.icon {
						color: #222222;
					}
				}
			}
		}
	}
	
	.sidebar_logo {
		margin-bottom: 30px;
		padding: 20px;
		
		img {
			height: auto;
			margin-bottom: 20px;
			width: 100%;
		}
		
		h2 {
			color: #222222;
			font-size: 18px;
			font-weight: 500;
			text-align: center;
		}
	}
}

.main.home {
	
	.main_cushion {
		
		.content {
			
			h1,h2,h3,h4,p {
				color: #222222;
			}
			
			.icon_wrapper {
				.icon {
					color: #222222;
				}
			}
			
		}
	}
}

#home_logo {
	#home_page_nav {
		ul {
			li {
				a:link,a:visited {
					background: #e88945;
				}
			}
		}
	}
}

.main {
	.content {
		h1,h2,h3,a:link,a:visited {
			color: #e88945;
		}
	}
	
	.edit_button {
		a:link,
		a:visited {
			color: #222222;
		}
	}
}

#searchopen {
	.icon {
		color: #222222;
	}
}
			
#accordion {
	h3.ui-state-active {
		color: #e88945;
	}
	
	h3 {
		border-top: 1px solid #e88945;
	}
	
	div.ui-accordion-content {
		a:link,
		a:visited {
			color: #e88945;
		}
	}
}

article.blog_preview {
	span.edit {
		a:link,a:visited {
			color: #e88945;
		}
	}
	
	span.author {
		a:link,a:visited {
			color: #e88945;
		}
	}
}

article.blog_entry {
	.meta {
		span.category,
		span.author {
			a:link,a:visited {
				color: #e88945;
			}
		}
	}
}

.blog_sidebar {
	#blog_sidebar_1,
	#blog_sidebar_2 {
		ul {
			li {
				a:link,a:visited {
					color: #e88945;
				}
			}
		}
	}
}



@media (min-width: 980px) and (max-width: 1220px) {
	
}
	
@media (min-width: 768px) and (max-width: 979px) {
	
	header.home_default_image {
		background: url('../img/home_mobile.jpg') no-repeat;
		background-size: 100%;
		background-position: fixed;
	}
	
	header.header_page.page_default_image {
		background: url('../img/header1_mobile.jpg') no-repeat;
		background-size: 100%;
		background-position: fixed;
	}
	
	header.header_page.page_default_image.beers,
	header.header_page.page_default_image.contact {
		background: url('../img/header2_mobile.jpg') no-repeat;
		background-size: 100%;
		background-position: fixed;
	}
	
	header.header_page.page_default_image.volunteer {
		background: url('../img/header3_mobile.jpg') no-repeat;
		background-size: 100%;
		background-position: fixed;
	}
	
}
	
@media (min-width: 480px) and (max-width: 767px) {
	
	header.header_page.home_default_image {
		background: url('../img/home_mobile.jpg') no-repeat;
		background-size: 100%;
		background-position: fixed;
	}
	
	header.header_page.page_default_image {
		background: url('../img/header1_mobile.jpg') no-repeat;
		background-size: 100%;
		background-position: fixed;
	}
	
	header.header_page.page_default_image.beers,
	header.header_page.page_default_image.contact {
		background: url('../img/header2_mobile.jpg') no-repeat;
		background-size: 100%;
		background-position: fixed;
	}
	
	header.header_page.page_default_image.volunteer {
		background: url('../img/header3_mobile.jpg') no-repeat;
		background-size: 100%;
		background-position: fixed;
	}
	
	#home_logo {
	
		#logo_home {
			
			h1 {
				
				a:link,a:visited {
					font-size: 30px;
				}
			}
		}
	}
	
}
	
@media (min-width: 0px) and (max-width: 479px) {
	
	header.home_default_image {
		background: url('../img/home_mobile.jpg') no-repeat;
		background-size: 100%;
		background-position: fixed;
	}
	
	header.header_page.page_default_image {
		background: url('../img/header1_mobile.jpg') no-repeat;
		background-size: 100%;
		background-position: fixed;
	}
	
	header.header_page.page_default_image.beers,
	header.header_page.page_default_image.contact {
		background: url('../img/header2_mobile.jpg') no-repeat;
		background-size: 100%;
		background-position: fixed;
	}
	
	header.header_page.page_default_image.volunteer {
		background: url('../img/header3_mobile.jpg') no-repeat;
		background-size: 100%;
		background-position: fixed;
	}
	
	#home_logo {
	
		#logo_home {
			
			h1 {
				
				a:link,a:visited {
					font-size: 30px;
				}
			}
		}
	}
	
}