/* color variables */

$colorone: #e88945;
$colortwo: #000000;
$colorthree: #eeeeee;
$background: #FFFFFF;
$lightfont: #ffffff;
$darkfont: #303133;
$bodyfont: #888888;

/* end color variables */

/* start theme edits */

/* top bar */


/* attention header */

#attention_bar_header {
	background: $colorone;
	
	.attention_bar_header_content {
		padding-top: 25px;
		
		h3 {
			color: $lightfont;
		}
		
		div {
			ul {
				li {
					a:link,
					a:visited {
						background: $colortwo;
						border-radius: 10px;
						color: $lightfont;
						font-size: 12px;
						font-weight: 700;
						padding: 5px 10px;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}



/* header */

a#searchopen,
a#mobileopen {
	&:link,
	&:visited {
		background: $colorone;
		color: $lightfont;
	}
}

a:link,
a:visited {
	&#mobileclose {
		color: $lightfont;
	}
}

#search,
#mobile_nav {
	background: rgba($colorone, .95);
	
	#searchform {
		display: none;
		
		input[type="submit"] {
			color: $colorone;
		}
	}
	
	.mobile_nav_wrapper {
		#mobile_search {
			input[type="submit"] {
				color: $colorone;
			}
		}
	}
}

header {
	
	&#header_home {
		background: url('../img/home.jpg') no-repeat;
		background-size: cover;
		background-attachment: fixed;
		
		#nav_bar {
			background: transparent;
			
			#primary_nav {
				ul {
					li {
						a:link,
						a:visited {
							color: $lightfont;
						}
					}
				}
			}
			
			&.scroll-fix {
				background: $background;
				
				#primary_nav {
					ul {
						li {
							a:link,
							a:visited {
								color: $darkfont;
							}
						}
					}
				}
			}
		}
		
		#home_logo {
			margin-top: -300px;
			
			img {
				height: 350px;
			}
			
			#home_page_nav {
				ul {
					li {
						a:link,
						a:visited {
							background: $colorone;
							color: $lightfont;
						}
					}
				}
			}
		}
		
		#event_details {
			background: $colorone;
			border-radius: 10px 10px 0px 0px;
			bottom: 0px;
			margin-right: -600px;
			padding: 30px 50px;
			position: absolute;
			right: 50%;
			width: calc(1200px - 100px);
			
			.event_date,
			.event_time,
			.event_location {
				display: inline-block;
				width: calc(33.33333333332%);
				
				i {
					color: $lightfont;
					display: block;
					float:left;
					font-size: 50px;
					margin-right: 20px;
				}
				
				span.heading {
					color: $darkfont;
					display: block;
					font-size: 26px;
					font-weight: 700;
					line-height: 32px;
				}
				
				span.details {
					color: $lightfont;
					display: block;
					font-size: 18px;
					font-weight: 400;
				}
			}
		}
	}
	
	&#header_page {
		background: url('../img/page.jpg') no-repeat;
		background-size: cover;
		background-attachment: fixed;
		
		#nav_bar {
			background: transparent;
			
			&.scroll-fix {
				background: #ffffff;
			}
		}
		
		#page_title {
			margin-top: -50px !important;
			
			h1.heading,
			h2.subheading {
				display: none;
			}
			
			img {
				height: 200px;
				width: auto;
			}
		}
	}
	
	&#header_home_mobile,
	&#header_page_mobile {
		.mobile_navigation_bar {
			background: #ffffff;
			
			a:link,
			a:visited {
				
				&#mobileopen {
					color: $colorone;
				}
			}
		}
	}
	
	&#header_home_mobile {
		#home_logo {
			
			#home_logo_text_wrapper {
				h1 {
					font-weight: 700;
				}
			}
			
			#home_page_nav {
				ul {
					li {
						a:link,
						a:visited {
							background: $colorone;
							color: $lightfont;
						}
					}
				}
			}
		}
		
		#event_details {
			background: $colorone;
			border-radius: 10px 10px 0px 0px;
			bottom: 0px;
			margin-right: -480px;
			padding: 30px 50px;
			position: absolute;
			right: 50%;
			width: calc(960px - 100px);
			
			.event_date,
			.event_time,
			.event_location {
				display: inline-block;
				width: calc(33.33333333332%);
				
				i {
					color: $lightfont;
					display: block;
					float:left;
					font-size: 50px;
					margin-right: 20px;
				}
				
				span.heading {
					color: $darkfont;
					display: block;
					font-size: 26px;
					font-weight: 700;
					line-height: 32px;
				}
				
				span.details {
					color: $lightfont;
					display: block;
					font-size: 18px;
					font-weight: 400;
				}
			}
		}
	}
	
	&#header_page_mobile {
		#page_title {
			margin-top: -50px !important;
			
			h1.heading,
			h2.subheading {
				display: none;
			}
			
			img {
				height: 200px;
				width: auto;
			}
		}
	}
	
	.image_overlay {
		background: rgba($colorone, .4);
	}
}



/* main content areas */

.breadcrumb_wrapper {
	span.breadcrumbs {
		a:link,
		a:visited {
			color: $colorone;
		}
	}
}

#attention_bar {
	background: $colorone;
	
	.attention_bar_top,
	.attention_bar_bottom {
		h3 {
			color: $lightfont;
		}
		
		ul {
			li {
				a:link,
				a:visited {
					background: $colorone;
					color: $lightfont;
				}
			}
		}
	}
}

#call_out_boxes {
	background: $colorone;
	
	.cob_1,
	.cob_2,
	.cob_3,
	.cob_4,
	.cob_5 {
		.call_out_boxes_item {
			.square.fas,
			.circle.fas {
				background: $colorone;
				color: $darkfont;
			}
			
			h1,h2,h3 {
				color: $darkfont;
			}
			
			p {
				color: $darkfont;
			}
			
			a:link,
			a:visited {
				background: $colorone;
				color: $lightfont;
			}
		}
	}
}

#main {
	background: $background;
	
	#page_header_wrapper {
		display: block;
		margin-bottom: 50px;
		overflow: hidden;
		text-align: center;
			
		.hex_shape_wrapper {
			display: block;
			left: 50%;
			margin: 27px 0px 0px -40px;
			position: relative;
			
			.hex_shape_1,
			.hex_shape_2,
			.hex_shape_3 {
				background: $colorone;
				border-radius: 10px;
				display: block;
				height: 54px;
				left: 0;
				position: absolute;
				top: 0;
				width: 80px;
			}
			
			.hex_shape_2 {
				transform: rotate(60deg);
			}
			
			.hex_shape_3 {
				transform: rotate(-60deg);
			}
			
			i {
				color: $lightfont;
				font-size: 32px;
				height: 54px;
				left: 0px;
				line-height: 54px;
				position: absolute;
				text-align: center;
				top: 0px;
				width: 80px;
				z-index: 2;
			}
		}
		
		h1 {
			font-size: 32px;
			font-weight: 700;
			padding-top: 90px;
			text-transform: uppercase;
		}
	}
	
	.content {
		h1,h3 {
			color: $colorone;
		}
		
		hr.divider {
			background: $colorone;
		}
		
		p {
			color: $bodyfont;
		}
		
		a:link,
		a:visited {
			color: $colorone;
			
			&.button {
				background: $colorone;
				border-radius: 10px;
				color: #fff;
				font-weight: 700;
				margin: 20px auto;
				padding: 15px 30px;
				text-decoration: none;
				text-transform: uppercase;
				transition: .2s linear;
			}
		}
	}
	
	#home_content_wrapper {
		padding: 50px 0px;
		
		.home_content {
			h1,h2,h3 {
				color: $darkfont;
				margin-bottom: 20px;
			}
			
			h1 {
				font-size: 28px;
				line-height: 32px;
				font-weight: 700;
			}
			
			p {
				color: $bodyfont;
				font-size: 18px;
				line-height: 32px;
				margin-bottom: 20px;
			}
			
			a:link,
			a:visited {
				&.button {
					background: $colorone;
					border-radius: 10px;
					color: #fff;
					font-weight: 700;
					margin: 20px auto;
					padding: 15px 30px;
					text-decoration: none;
					text-transform: uppercase;
					transition: .2s linear;
				}
			}
			
			a:hover,
			a:active {
				&.button {
					opacity: .7;
				}
			}
		}
		
		.home_callout {
			margin-top: -20px;
			
			.home_callout_item {
				padding-top: 20px;
				
				.hex_shape_wrapper {
					display: block;
					margin: 27px 0px 0px 0px;
					position: relative;
					
					.hex_shape_1,
					.hex_shape_2,
					.hex_shape_3 {
						background: $colorthree;
						border-radius: 10px;
						display: block;
						height: 54px;
						left: 0;
						position: absolute;
						top: 0;
						width: 80px;
					}
					
					.hex_shape_2 {
						transform: rotate(60deg);
					}
					
					.hex_shape_3 {
						transform: rotate(-60deg);
					}
					
					i {
						color: $darkfont;
						font-size: 32px;
						height: 54px;
						left: 0px;
						line-height: 54px;
						position: absolute;
						text-align: center;
						top: 0px;
						width: 80px;
						z-index: 1;
					}
				}
				
				h2 {
					color: $darkfont;
					font-size: 24px;
					line-height: 32px;
					font-weight: 700;
					margin: -20px 0px 10px 100px;
					text-transform: uppercase;
				}
				
				p {
					color: $bodyfont;
					font-size: 18px;
					line-height: 32px;
					margin: 0px 0px 10px 100px;
					
					a:link,
					a:visited {
						color: $colorone;
						font-weight: 700;
						text-decoration: none;
						transition: opacity .1s ease;
					}
					
					a:hover,
					a:active {
						opacity: .5;
					}
				}
			}
			
			.home_callout_item:nth-child(2) {
				.hex_shape_wrapper {
					.hex_shape_1,
					.hex_shape_2,
					.hex_shape_3 {
						background: $colorone;
					}
					
					i {
						color: $lightfont;
					}
				}
				
				h2 {
					color: $colorone;
				}
			}
		}
	}
	
	#image_store_wrapper {
		padding: 50px 0px;
		
		.image_gallery {
			border-radius: 10px;
			overflow: hidden;
			
			a:link,
			a:visited {
				display: inline-block;
				margin-bottom: -3px;
				width: 50%;
				transition: opacity .1s ease-in-out;
				
				img {
					display: block;
					vertical-align: bottom;
					width: 100%;
				}
			}
			
			a:hover,
			a:active {
				opacity: .5;
			}
			
			.details_bar {
				background: $colortwo;
				padding: 20px;
				
				h3 {
					color: $lightfont;
					font-size: 24px;
					font-weight: 700;
					margin-bottom: 10px;
					text-transform: uppercase;
				}
				
				p {
					color: $lightfont;
					display: inline-block;
					font-size: 16px;
					font-weight: 400;
					line-height: 22px;
					padding-right: 20px;
					width: calc(70% - 20px);
					
					a:link,
					a:visited {
						color: $lightfont;
						display: inline;
						font-weight: 700;
						margin: 0px;
						text-decoration: none;
					}
				}
				
				p + a:link,
				p + a:visited {
					background: $colorone;
					border-radius: 10px;
					color: $lightfont;
					display: inline-block;
					font-size: 14px;
					font-weight: 700;
					margin-bottom: 0px;
					text-align: center;
					text-decoration: none;
					text-transform: uppercase;
					padding: 10px 0px;
					vertical-align: top;
					width: 30%;
				}
			}
		}
		
		.online_store {
			border-radius: 10px;
			overflow: hidden;
			
			a:link,
			a:visited {
				display: inline-block;
				margin-bottom: -3px;
				width: 100%;
				transition: opacity .1s ease-in-out;
			
				img {
					display: block;
					height: auto;
					width: 100%;
				}
			}
			
			a:hover,
			a:active {
				opacity: .5;
			}
			
			.details_bar {
				background: $colorone;
				padding: 20px;
				
				h3 {
					color: $lightfont;
					font-size: 24px;
					font-weight: 700;
					margin-bottom: 10px;
					text-transform: uppercase;
				}
				
				p {
					color: $lightfont;
					display: inline-block;
					font-size: 16px;
					font-weight: 400;
					line-height: 22px;
					padding-right: 20px;
					width: calc(70% - 20px);
				}
				
				a:link,
				a:visited {
					background: $colortwo;
					border-radius: 10px;
					color: $lightfont;
					display: inline-block;
					font-size: 14px;
					font-weight: 700;
					margin-bottom: 0px;
					text-align: center;
					text-decoration: none;
					text-transform: uppercase;
					padding: 10px 0px;
					vertical-align: top;
					width: 30%;
				}
			}
		}
	}
	
	#event_countdown {
		padding: 50px 0px;
		
		.countdown {
			text-align: center;
			
			.hex_shape_wrapper {
				display: block;
				left: 50%;
				margin: 27px 0px 0px -40px;
				position: relative;
				
				.hex_shape_1,
				.hex_shape_2,
				.hex_shape_3 {
					background: $colorone;
					border-radius: 10px;
					display: block;
					height: 54px;
					left: 0;
					position: absolute;
					top: 0;
					width: 80px;
				}
				
				.hex_shape_2 {
					transform: rotate(60deg);
				}
				
				.hex_shape_3 {
					transform: rotate(-60deg);
				}
				
				i {
					color: $lightfont;
					font-size: 32px;
					height: 54px;
					left: 0px;
					line-height: 54px;
					position: absolute;
					text-align: center;
					top: 0px;
					width: 80px;
					z-index: 5;
				}
			}
			
			h1 {
				font-size: 32px;
				font-weight: 700;
				padding-top: 90px;
				text-transform: uppercase;
			}
			
			.days,
			.hours,
			.minutes,
			.seconds {
				display: inline-block;
				font-size: 48px;
				font-weight: 700;
				margin-top: 20px;
				padding: 20px;
				
				span {
					display: block;
					font-size: 12px;
					font-weight: 400;
					text-transform: uppercase;
				}
			}
		}
	}
	
	#image_gallery_wrapper {
		a:link,
		a:visited {
			border-radius: 10px;
			display: inline-block;
			margin: 20px;
			overflow: hidden;
			width: calc(25% - 40px);
			
			img {
				display: block;
				height: auto;
				width: 100%;
			}
		}
	}
	
	#gallery {
		.gallery_wrapper {
			height: auto;
		}
	}
	
	.sidebar {
		.business_information_wrapper {
			background: $colorone;
			
			h3 {
				color: $lightfont;
			}
			
			p {
				color: $lightfont;
			}
			
			ul.business_hours {
				li {
					span {
						color: $lightfont;
					}
				}
			}
			
			.contact_info {
				ul {
					li {
						color: $lightfont;
						
						a:link,
						a:visited {
							color: $lightfont;
						}
					}
				}
			}
			
			ul.sidebar_links {
				li {
					a:link,
					a:visited {
						background: $darkfont;
						color: $lightfont;
					}
				}
			}
		}
	}
}

#tabs>ul {
	li.ui-tabs-active {
		a:link,
		a:visited {
			color: $colorone;
			border-bottom: 1px solid $colorone;
		}
	}
}

#accordion>h3:hover, 
#accordion>h3.ui-state-active {
	color: $colortwo;
}

#parallax {
	background: url('../img/parallax.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
		
	.filter {
		background: rgba($colorone, .5);
	}
}

.edit_button {
	a:link,
	a:visited {
		background: $colorone;
	}
}



/* blog page */

#main {
	&.blog_home {
		background: #f5f5f5;
	}
}

.blog_home article.blog_preview {
	span.edit,
	span.author,
	span.date {
		a:link, 
		a:visited {
			color: $colorone;
		}
	}
	
	.blog_image_preview.default {
		background: url('../img/page.jpg') no-repeat;
		background-size: cover;
		background-position: center center;
	}
}

.blog_sidebar {
	background: #f5f5f5;
	
	#blog_sidebar_1,
	#blog_sidebar_2 {
		ul {
			li {
				a:link,
				a:visited {
					color: $colorone;
				}
			}
		}
	}
}

article.blog_entry {
	.meta {
		span.date,
		span.author,
		span.category {
			a:link,
			a:visited {
				color: $colorone;
			}
		}
	}
	
	.tagcloud {
		a:link,
		a:visited {
			border: 1px solid $colorone;
			color: $colorone;
		}
	}
	
	.blog_image_single.default {
		background: url('../img/page.jpg') no-repeat;
		background-size: cover;
		background-position: center center;
	}
}


/* responsive media queries - 980 to 1220 */

@media (min-width: 980px) and (max-width: 1220px) {
	
	header {
		&#header_home_mobile {
			background: url('../img/home.jpg') no-repeat;
			background-size: cover;
			background-attachment: scroll;
			
			#home_logo {
				margin-top: -250px;
				
				img {
					height: 250px;
				}
			}
		}
		
		&#header_page_mobile {
			background: url('../img/page.jpg') no-repeat;
			background-size: cover;
			background-attachment: scroll;	
		}
	}
	
}



/* responsive media queries - 768 to 979 */
	
@media (min-width: 768px) and (max-width: 979px) {
	
	header {
		&#header_home_mobile {
			background: url('../img/home_mobile.jpg') no-repeat;
			background-size: cover;
			background-attachment: scroll;
			
			#home_logo {
				margin-top: -250px;
				
				img {
					height: 200px;
				}
			}
			
			#event_details {
				margin-right: -384px;
				padding: 20px 30px;
				width: calc(768px - 60px);
				
				.event_date,
				.event_time,
				.event_location {
					i {
						font-size: 42px;
					}
					
					span.heading {
						font-size: 22px;
					}
					
					span.details {
						font-size: 14px;
					}
				}
			}
		}
		
		&#header_page_mobile {
			background: url('../img/page_mobile.jpg') no-repeat;
			background-size: cover;
			background-attachment: scroll;	
		}
	}
	
	#main {
	
		#image_gallery_wrapper {
			a:link,
			a:visited {
				width: calc(50% - 40px);
			}
		}
	
	}
	
}



/* responsive media queries - 480 to 767 */
	
@media (min-width: 480px) and (max-width: 767px) {
	
	header {
		height: 640px;
		
		&#header_home_mobile {
			background: url('../img/home_mobile.jpg') no-repeat;
			background-size: cover;
			background-attachment: scroll;
			
			#home_logo {
				margin-top: -310px;
				
				img {
					height: 200px;
				}
			}
			
			#event_details {
				border-radius: 0px 0px 0px 0px;
				margin-right: 0px;
				padding: 20px 30px;
				right: 0px;
				width: calc(100% - 60px);
				
				.event_date,
				.event_time,
				.event_location {
					display: block;
					padding: 10px 0px;
					width: 100%;
				}
			}
		}
		
		&#header_page_mobile {
			background: url('../img/page_mobile.jpg') no-repeat;
			background-size: cover;
			background-attachment: scroll;	
		}
	}
	
	#main {
	
		#image_store_wrapper {
			.image_gallery {
				margin-bottom: 20px;
			}
		}
		
		#image_gallery_wrapper {
			a:link,
			a:visited {
				width: calc(50% - 40px);
			}
		}
	}
	
}



/* responsive media queries - 0 to 479 */
	
@media (min-width: 0px) and (max-width: 479px) {
	
	header {
		height: 640px;
		
		&#header_home_mobile {
			background: url('../img/home_mobile.jpg') no-repeat;
			background-size: cover;
			background-attachment: scroll;
			
			#home_logo {
				margin-top: -310px;
				
				img {
					height: 200px;
				}
			}
			
			#event_details {
				border-radius: 0px 0px 0px 0px;
				margin-right: 0px;
				padding: 20px 30px;
				right: 0px;
				width: calc(100% - 60px);
				
				.event_date,
				.event_time,
				.event_location {
					display: block;
					padding: 10px 0px;
					width: 100%;
				}
			}
		}
		
		&#header_page_mobile {
			background: url('../img/page_mobile.jpg') no-repeat;
			background-size: cover;
			background-attachment: scroll;	
		}
	}
	
	#main {
		
		#image_store_wrapper {
			.image_gallery {
				margin-bottom: 20px;
			}
			
			.image_gallery,
			.online_store {
				.details_bar {
					p + a:link,
					p + a:visited {
						font-size: 12px;
					}
				}
			}
		}
		
		#event_countdown {
			.countdown {
				.days,
				.minutes,
				.hours,
				.seconds {
					font-size: 42px;
					padding: 20px 10px;
				}
			}
		}
		
		#image_gallery_wrapper {
			a:link,
			a:visited {
				width: calc(100% - 40px);
			}
		}
	}
}



/* end theme edits */